extends layout

block content
    div(class="header")
        div(class="bg-img")
        div(class="container-fluid")
            img(class="logo-font" src="https://d2tmw454eqao4e.cloudfront.net/header-logo.png")
            div(class="logo-bottom")
                div(class="business-time")
                    div(class="title") Business Hours
                    table(class="table table-borderless table-condensed")
                        tbody
                            tr
                                th Mon
                                td 6:30am - 9:00pm
                            tr
                                th Tues
                                td 6:30am - 9:00pm
                            tr
                                th Thu
                                td 6:30am - 9:00pm
                            tr
                                th Fri
                                td 6:30am - 9:00pm
                            tr
                                th Sat
                                td 6:30am - 9:00pm
                            tr
                                th Sun
                                td 10:00am - 6:00pm
                div(class="call-info")
                    div(class="info") 347 - 732 - 9732
                    div(class="info") Call In & Pick Up
                    div(class="info") Delivery ($25 up)
                    button(class="btn btn-primary" id="menu-btn") See Menu
    div(class="bg-1" id="bg-1")
        div(class="headings")
            div(class="heading1") Eat Hot and Fresh at the Restaurant.
            div(class="heading2") Call (347) 732-9732 
            div(class="heading3") Pick Up / Delivery ($25 up)
            a(class="btn btn-primary mt-2" href="https://www.google.com/maps/place/One+for+the+Road/@40.7628893,-73.8161002,17z/data=!3m1!4b1!4m5!3m4!1s0x89c261bef542b8d9:0x9a0fde2ddf5c0318!8m2!3d40.7628893!4d-73.8139115" target="_blank") Get Direction        
            

