extends layout

block content
    div(class="header")
        div(class="bg-img")
        div(class="container-fluid")
            img(class="logo-font" src="https://d2tmw454eqao4e.cloudfront.net/header-logo.png")
            div(class="logo-bottom")
                div(class="business-time")
                    div(class="title") Business Hours
                    table(class="table table-borderless table-condensed")
                        tbody
                            tr
                                th Mon
                                td 6:30am - 9:00pm
                            tr
                                th Tues
                                td 6:30am - 9:00pm
                            tr
                                th Thu
                                td 6:30am - 9:00pm
                            tr
                                th Fri
                                td 6:30am - 9:00pm
                            tr
                                th Sat
                                td 6:30am - 9:00pm
                            tr
                                th Sun
                                td 10:00am - 6:00pm
                div(class="call-info")
                    div(class="info") 347 - 732 - 9732
                    div(class="info") Call In & Pick Up
                    div(class="info") Delivery ($25 up)
                    button(class="btn btn-primary" id="menu-btn") See More
                    div(class='address') 40-25 150th Street
                    div(class='address') Flushing, NY 11354
    
    div(class="bg-2" id="bg-2")
        div(class="container")
            div(class="gallery")
                div(class="row")
                    div(class="col-md-3")
                        div(class="photo-box")
                            div(class="photo-box-img" style="background-image: url('https://d2tmw454eqao4e.cloudfront.net/o.jpg')")
                    div(class="col-md-3")
                        div(class="photo-box")
                            div(class="photo-box-img" style="background-image: url('https://d2tmw454eqao4e.cloudfront.net/o+(9).jpg')")
                    div(class="col-md-3")
                        div(class="photo-box")
                            div(class="photo-box-img" style="background-image: url('https://d2tmw454eqao4e.cloudfront.net/o+(8).jpg')")
                    div(class="col-md-3")
                        div(class="photo-box")
                            div(class="photo-box-img" style="background-image: url('https://d2tmw454eqao4e.cloudfront.net/o+(7).jpg')")
                div(class="row")
                    div(class="col-md-3")
                        div(class="photo-box")
                            div(class="photo-box-img" style="background-image: url('https://d2tmw454eqao4e.cloudfront.net/o+(6).jpg')")
                    div(class="col-md-3")
                        div(class="photo-box")
                            div(class="photo-box-img" style="background-image: url('https://d2tmw454eqao4e.cloudfront.net/o+(5).jpg')")
                    div(class="col-md-3")
                        div(class="photo-box")
                            div(class="photo-box-img" style="background-image: url('https://d2tmw454eqao4e.cloudfront.net/o+(4).jpg')")
                    div(class="col-md-3")
                        div(class="photo-box")
                            div(class="photo-box-img" style="background-image: url('https://d2tmw454eqao4e.cloudfront.net/o+(3).jpg')")
                div(class="row")
                    div(class="col-md-3")
                        div(class="photo-box")
                            div(class="photo-box-img" style="background-image: url('https://d2tmw454eqao4e.cloudfront.net/o+(15).jpg')")
                    div(class="col-md-3")
                        div(class="photo-box")
                            div(class="photo-box-img" style="background-image: url('https://d2tmw454eqao4e.cloudfront.net/o+(14).jpg')")
                    div(class="col-md-3")
                        div(class="photo-box")
                            div(class="photo-box-img" style="background-image: url('https://d2tmw454eqao4e.cloudfront.net/o+(17).jpg')")
                    div(class="col-md-3")
                        div(class="photo-box")
                            div(class="photo-box-img" style="background-image: url('https://d2tmw454eqao4e.cloudfront.net/o+(16).jpg')")
                div(class="row")
                    div(class="col-md-3")
                        div(class="photo-box")
                            div(class="photo-box-img" style="background-image: url('https://d2tmw454eqao4e.cloudfront.net/o+(13).jpg')")
                    div(class="col-md-3")
                        div(class="photo-box")
                            div(class="photo-box-img" style="background-image: url('https://d2tmw454eqao4e.cloudfront.net/o+(12).jpg')")
                    div(class="col-md-3")
                        div(class="photo-box")
                            div(class="photo-box-img" style="background-image: url('https://d2tmw454eqao4e.cloudfront.net/o+(11).jpg')")
                    div(class="col-md-3")
                        div(class="photo-box")
                            div(class="photo-box-img" style="background-image: url('https://d2tmw454eqao4e.cloudfront.net/o+(10).jpg')")

    div(class="bg-1" id="bg-1")
        div(class="main-menu")
            div(class="heading")
                h3 MENU
            div(class="container mt-3")
                div(class="row")
                    div(class="side-left-bar col-md-3")
                        include side-bar.pug
                    div(class="menu-content col-md-6")
                        div
                            include menu/breakfast.pug
                            include menu/brunch.pug
                            include menu/hot-sandwiches.pug
                            include menu/cold-sandwiches.pug
                            include menu/salads.pug
                            include menu/peru-chicken.pug
                            include menu/crepes.pug
                            include menu/baked-goods.pug
                            include menu/ice-cream.pug
                            include menu/beverages.pug
                            include menu/smoothies.pug
                    div(class="side-right-bar col-md-3")
                        include right-bar.pug

    div(class="lightbox")
        div(class="inner-lightbox")
            div(class="img-placeholder")
                div(class="lightbox-close")
                    span(class="close-text") Close
                    span(class="close-icon")
                        i(class="fas fa-times fa-lg")

    footer(class="font-smaller mt-5")
      div(class="copy-right text-center py-2") © 2019-2020 One for the Road
                    
                    
                        

