extends layout 
 
block content

 div(class="menu")
            h1 Menu for the Road
            table(class="table")
                thead
                    tr
                        th(scope="col") PERUVIAN BBQ CHICKEN
                        th(scope="col") Price
                tbody
                    tr
                        td 1/2 Chicken Only
                        td $9.95