ul(class="menu-category")
  li(class="list" data-linked="breakfast") Good Morning!
  li(class="list" data-linked="brunch") Brunch
  li(class="list" data-linked="hot-sandwiches") Hot Sandwiches
  li(class="list" data-linked="cold-sandwiches") Cold Sandwiches
  li(class="list" data-linked="salads") Salads
  li(class="list" data-linked="peru-chicken") Peruvian Chicken
  li(class="list" data-linked="crepes") Crepes
  li(class="list" data-linked="baked-goods") Baked Goods
  li(class="list" data-linked="ice-cream") Ice Cream
  li(class="list" data-linked="beverages") Beverages
  li(class="list" data-linked="smoothies") Juice & Smoothie