div(class="direction")
  a(class="btn btn-dark" role="button" href="https://www.google.com/maps/place/One+for+the+Road/@40.762448,-73.830767,17z/data=!4m5!3m4!1s0x89c261bef542b8d9:0x9a0fde2ddf5c0318!8m2!3d40.7628893!4d-73.8139115" target="_blank") Get Direction
  