div(id="baked-goods" style="display: none")
  div(class="menu-header")
    h3(class="title") Baked Goods
  div(class="menu-list")
    div(class="item")
      div(class="item-body")
        h4 Cheese Cake
        div(class="sub-list")
          p Signature Cake
          p Blueberry
          p Mango
          p Oreo Cookies
          p Chocolate
      div(class="price")
        h4 6.50
    div(class="item")
      div(class="item-body")
        h4 Tiramisu
      div(class="price")
        h4 6.00
    div(class="item")
      div(class="item-body")
        h4 Tres Leches
      div(class="price")
        h4 4.50
    div(class="item")
      div(class="item-body")
        h4 Chocolate Mousse Cake
      div(class="price")
        h4 6.00
    div(class="item")
      div(class="item-body")
        h4 Mini Lemon Cake
      div(class="price")
        h4 2.50
    div(class="item")
      div(class="item-body")
        h4 Banana Nut Cake
      div(class="price")
        h4 2.50
    div(class="item")
      div(class="item-body")
        h4 Carrot Walnut Cake
      div(class="price")
        h4 2.50
    div(class="item")
      div(class="item-body")
        h4 Blueberry Orange Pecan Bread
      div(class="price")
        h4 2.50
    div(class="item")
      div(class="item-body")
        h4 Peanut Butter Coffee Cake
      div(class="price")
        h4 2.50
    div(class="item")
      div(class="item-body")
        h4 Buttermilk Coffee Cake
      div(class="price")
        h4 2.50
    div(class="item")
      div(class="item-body")
        h4 Chocolate Chip Pecan Cake
      div(class="price")
        h4 3.25
    div(class="item")
      div(class="item-body")
        h4 Oatmeal Pecan Cookies
      div(class="price")
        h4 3.25
    div(class="item")
      div(class="item-body")
        h4 Oatmeal Pecan Cookies
      div(class="price")
        h4 3.25
    div(class="item")
      div(class="item-body")
        h4 Biscotti
      div(class="price")
        h4 3.25
    div(class="item")
      div(class="item-body")
        h4 Mini Pecan Pie
      div(class="price")
        h4 3.25