div(id="baked-goods" style="display: none")
  div(class="menu-header")
    h3(class="title") Baked Goods
  div(class="menu-list")
    div(class="item")
      div(class="item-body")
        div(class="name") Cheese Cake
        div(class="sub-list")
          div Signature Cake
          div Blueberry
          div Mango
          div Oreo Cookies
          div Chocolate
      div(class="price")
        div 6.50
    div(class="item")
      div(class="item-body")
        div(class="name") Tiramisu
      div(class="price")
        div 6.00
    div(class="item")
      div(class="item-body")
        div(class="name") Tres Leches
      div(class="price")
        div 4.50
    div(class="item")
      div(class="item-body")
        div(class="name") Chocolate Mousse Cake
      div(class="price")
        div 6.00
    div(class="item")
      div(class="item-body")
        div(class="name") Mini Lemon Cake
      div(class="price")
        div 2.50
    div(class="item")
      div(class="item-body")
        div(class="name") Banana Nut Cake
      div(class="price")
        div 2.50
    div(class="item")
      div(class="item-body")
        div(class="name") Carrot Walnut Cake
      div(class="price")
        div 2.50
    div(class="item")
      div(class="item-body")
        div(class="name") Blueberry Orange Pecan Bread
      div(class="price")
        div 2.50
    div(class="item")
      div(class="item-body")
        div(class="name") Peanut Butter Coffee Cake
      div(class="price")
        div 2.50
    div(class="item")
      div(class="item-body")
        div(class="name") Buttermilk Coffee Cake
      div(class="price")
        div 2.50
    div(class="item")
      div(class="item-body")
        div(class="name") Chocolate Chip Pecan Cake
      div(class="price")
        div 3.25
    div(class="item")
      div(class="item-body")
        div(class="name") Oatmeal Pecan Cookies
      div(class="price")
        div 3.25
    div(class="item")
      div(class="item-body")
        div(class="name") Oatmeal Pecan Cookies
      div(class="price")
        div 3.25
    div(class="item")
      div(class="item-body")
        div(class="name") Biscotti
      div(class="price")
        div 3.25
    div(class="item")
      div(class="item-body")
        div(class="name") Mini Pecan Pie
      div(class="price")
        div 3.25