div(id="beverages" style="display: none")
  div(class="menu-header")
    h3(class="title") Hot Drinks
  div(class="menu-list")
    div(class="three-columns")
      div(class="drink")
        div(class="name")
      div(class="size-price")
        div(class="small")
          h6 SM (12 OZ)
        div(class="large")
          h6 LG (16 OZ)
    div(class="three-columns")
      div(class="drink")
        div(class="name") Coffee
      div(class="size-price")
        div(class="small") 1.75
        div(class="large") 2.25
    div(class="three-columns")
      div(class="drink")
        div(class="name") Americano
      div(class="size-price")
        div(class="small") 3.00
        div(class="large") 4.00
    div(class="three-columns")
      div(class="drink")
        div(class="name") Espresso (Doppio)
      div(class="size-price")
        div(class="small") 3.00
        div(class="large")
    div(class="three-columns")
      div(class="drink")
        div(class="name") Caffe Latte
      div(class="size-price")
        div(class="small") 3.50
        div(class="large") 4.25
    div(class="three-columns")
      div(class="drink")
        div(class="name") Cappucino
      div(class="size-price")
        div(class="small") 3.50
        div(class="large") 4.25
    div(class="three-columns")
      div(class="drink")
        div(class="name") Mocaccino
      div(class="size-price")
        div(class="small") 3.75
        div(class="large") 4.50
    div(class="three-columns")
      div(class="drink")
        div(class="name") Caramel Machiato
      div(class="size-price")
        div(class="small") 4.25
        div(class="large") 5.00
    div(class="three-columns")
      div(class="drink")
        div(class="name") Hot Tea
      div(class="size-price")
        div(class="small")
          div(class="name") 1.75
        div(class="large")
          div(class="name") 2.00
    div(class="three-columns")
      div(class="drink")
        div(class="name") Hot Chocolate
      div(class="size-price")
        div(class="small")
          div(class="name") 2.50
        div(class="large")
          div(class="name") 4.25
  div(class="menu-header mt-5")
    h3(class="title") Cold Drinks
  div(class="menu-list")
    div(class="three-columns")
      div(class="drink")
      div(class="size-price")
        div(class="small")
          h6 SM (12 OZ)
        div(class="large")
          h6 LG (16 OZ)
    div(class="three-columns")
      div(class="drink")
        div(class="name") Coffee
      div(class="size-price")
        div(class="small") 1.75
        div(class="large") 2.25
    div(class="three-columns")
      div(class="drink")
        div(class="name") Americano
      div(class="size-price")
        div(class="small") 3.00
        div(class="large") 4.00
    div(class="three-columns")
      div(class="drink")
        div(class="name") Espresso (Doppio)
      div(class="size-price")
        div(class="small") 3.00
        div(class="large")
    div(class="three-columns")
      div(class="drink")
        div(class="name") Caffe Latte
      div(class="size-price")
        div(class="small") 3.50
        div(class="large") 4.25
    div(class="three-columns")
      div(class="drink")
        div(class="name") Cappucino
      div(class="size-price")
        div(class="small") 3.50
        div(class="large") 4.25
    div(class="three-columns")
      div(class="drink")
        div(class="name") Mocaccino
      div(class="size-price")
        div(class="small")
          div(class="name") 3.75
        div(class="large")
          div(class="name") 4.50
    div(class="three-columns")
      div(class="drink")
        div(class="name") Caramel Machiato
      div(class="size-price")
        div(class="small")
          div(class="name") 4.25
        div(class="large")
          div(class="name") 5.00
    div(class="three-columns")
      div(class="drink")
        div(class="name") Hot Tea
      div(class="size-price")
        div(class="small") 1.75
        div(class="large") 2.00
    div(class="three-columns")
      div(class="drink")
        div(class="name") Hot Chocolate
      div(class="size-price")
        div(class="small") 2.50
        div(class="large") 4.25
      
          
          