div(id="beverages" style="display: none")
  div(class="menu-header")
    h3(class="title") Hot Drinks
  div(class="menu-list")
    div(class="three-columns")
      div(class="drink-type")
      div(class="size-price")
        div(class="small")
          h5 SM (12 OZ)
        div(class="large")
          h5 LG (16 OZ)
    div(class="three-columns")
      div(class="drink-type")
        h4 Coffee
      div(class="size-price")
        div(class="small")
          h4 1.75
        div(class="large")
          h4 2.25
    div(class="three-columns")
      div(class="drink-type")
        h4 Americano
      div(class="size-price")
        div(class="small")
          h4 3.00
        div(class="large")
          h4 4.00
    div(class="three-columns")
      div(class="drink-type")
        h4 Espresso (Doppio)
      div(class="size-price")
        div(class="small")
          h4 3.00
        div(class="large")
    div(class="three-columns")
      div(class="drink-type")
        h4 Caffe Latte
      div(class="size-price")
        div(class="small")
          h4 3.50
        div(class="large")
          h4 4.25
    div(class="three-columns")
      div(class="drink-type")
        h4 Cappucino
      div(class="size-price")
        div(class="small")
          h4 3.50
        div(class="large")
          h4 4.25
    div(class="three-columns")
      div(class="drink-type")
        h4 Mocaccino
      div(class="size-price")
        div(class="small")
          h4 3.75
        div(class="large")
          h4 4.50
    div(class="three-columns")
      div(class="drink-type")
        h4 Caramel Machiato
      div(class="size-price")
        div(class="small")
          h4 4.25
        div(class="large")
          h4 5.00
    div(class="three-columns")
      div(class="drink-type")
        h4 Hot Tea
      div(class="size-price")
        div(class="small")
          h4 1.75
        div(class="large")
          h4 2.00
    div(class="three-columns")
      div(class="drink-type")
        h4 Hot Chocolate
      div(class="size-price")
        div(class="small")
          h4 2.50
        div(class="large")
          h4 4.25
  div(class="menu-header mt-5")
    h3(class="title") Cold Drinks
  div(class="menu-list")
    div(class="three-columns")
      div(class="drink-type")
      div(class="size-price")
        div(class="small")
          h5 SM (12 OZ)
        div(class="large")
          h5 LG (16 OZ)
    div(class="three-columns")
      div(class="drink-type")
        h4 Coffee
      div(class="size-price")
        div(class="small")
          h4 1.75
        div(class="large")
          h4 2.25
    div(class="three-columns")
      div(class="drink-type")
        h4 Americano
      div(class="size-price")
        div(class="small")
          h4 3.00
        div(class="large")
          h4 4.00
    div(class="three-columns")
      div(class="drink-type")
        h4 Espresso (Doppio)
      div(class="size-price")
        div(class="small")
          h4 3.00
        div(class="large")
    div(class="three-columns")
      div(class="drink-type")
        h4 Caffe Latte
      div(class="size-price")
        div(class="small")
          h4 3.50
        div(class="large")
          h4 4.25
    div(class="three-columns")
      div(class="drink-type")
        h4 Cappucino
      div(class="size-price")
        div(class="small")
          h4 3.50
        div(class="large")
          h4 4.25
    div(class="three-columns")
      div(class="drink-type")
        h4 Mocaccino
      div(class="size-price")
        div(class="small")
          h4 3.75
        div(class="large")
          h4 4.50
    div(class="three-columns")
      div(class="drink-type")
        h4 Caramel Machiato
      div(class="size-price")
        div(class="small")
          h4 4.25
        div(class="large")
          h4 5.00
    div(class="three-columns")
      div(class="drink-type")
        h4 Hot Tea
      div(class="size-price")
        div(class="small")
          h4 1.75
        div(class="large")
          h4 2.00
    div(class="three-columns")
      div(class="drink-type")
        h4 Hot Chocolate
      div(class="size-price")
        div(class="small")
          h4 2.50
        div(class="large")
          h4 4.25
      
          
          