div(id="breakfast")
  div(class="menu-header")
    h3(class="title") Breakfast
  div(class="menu-list")
    div(class="item")
      div(class="item-body")
          div(class="name") Egg Sandwich
          div(class="description") add ham, sausage, bacon (extra 2.00)
      div(class="price")
          div 2.50
    div(class="item")
      div(class="item-body")
        div(class="name") Breakfast Platter
        div(class="description") Two eggs (any style) serve with toast and home fries
      div(class="price")
        div 6.25
    div(class="item")
      div(class="item-body")
        div(class="name") Bagel/Roll
        div(class="sub-list")
          div w/ plain cream cheese (2.75)
          div w/ vege/scallion/nuts (3.25)
          div w/ butter or jelly (1.75)
          div w/ peanut butter (3.50)
          div w/ nova & tomato (4.50)
      div(class="price")
        div 1.50
    div(class="item")
      div(class="item-body")
        div(class="name") Grilled Cheese Sandwich
      div(class="price")
        div 4.50
    div(class="item")
      div(class="item-body")
        div(class="name") Breakfast Crepe
      div(class="price")
        div 6.50
    div(class="item")
      div(class="item-body")
        div(class="name") Street Sandwich Original/BLT/Italian
      div(class="price")
        div 5.50
    div(class="item")
      div(class="item-body")
        div(class="name") Omelette
        div(class="description") (Serve w/ home fries & butter toast)
        div(class="sub-list")
          div Cheese
          div Western (ham, onion & bell pepper)
          div Ham and Cheese (ham, choice of cheese)
          div Spanish (bacon chedder, bell pepper & onion)
      div(class="price")
        div 6.50