div(id="breakfast")
  div(class="menu-header")
    h3(class="title") Breakfast
  div(class="menu-list")
    div(class="item")
      div(class="item-body")
          h4 Egg Sandwich
          p add ham, sausage, bacon (extra 2.00)
      div(class="price")
          h4 2.50
    div(class="item")
      div(class="item-body")
        h4 Breakfast Platter
        p Two eggs (any style) serve with toast and home fries
      div(class="price")
        h4 6.25
    div(class="item")
      div(class="item-body")
        h4 Bagel/Roll
        div(class="sub-list")
          p w/ plain cream cheese (2.75)
          p w/ vege/scallion/nuts (3.25)
          p w/ butter or jelly (1.75)
          p w/ peanut butter (3.50)
          p w/ nova & tomato (4.50)
      div(class="price")
        h4 1.50
    div(class="item")
      div(class="item-body")
        h4 Grilled Cheese Sandwich
      div(class="price")
        h4 4.50
    div(class="item")
      div(class="item-body")
        h4 Breakfast Crepe
      div(class="price")
        h4 6.50
    div(class="item")
      div(class="item-body")
        h4 Street Sandwich Original/BLT/Italian
      div(class="price")
        h4 5.50
    div(class="item")
      div(class="item-body")
        h4 Omelette
        div(class="sub-list")
          p (Serve w/ home fries & butter toast)
          p Cheese
          p Western (ham, onion & bell pepper)
          p Ham and Cheese (ham, choice of cheese)
          p Spanish (bacon chedder, bell pepper & onion)
      div(class="price")
        h4 6.50