div(id="brunch" style="display: none")
  div(class="menu-header")
    h3(class="title") Brunch
    div Serve with choice of home fries
    div Baked potatoe and side sald or fruit cup
  div(class="menu-list")
    div(class="item")
      div(class="item-body")
          div(class="name") Brunch Crepe Sweet
      div(class="price")
          div 9.50
    div(class="item")
      div(class="item-body")
        div(class="name") Brunch Crepe Savory
      div(class="price")
        div 11.50
    div(class="item")
      div(class="item-body")
        div(class="name") Open Sandwiches
        div(class="sub-list")
          div w/ Avocado/Basil Pesto
          div w/ Roasted Tomatoe/Basil Pesto
          div w/ Banana Walnut/Cream Cheese
          div w/ Seasonal Fruit/Riccota Cheese
      div(class="price")
        div 12.50
    div(class="item")
      div(class="item-body")
        div(class="name") Monte Cristo w/ Raspberry Comp
      div(class="price")
        div 14.99
    div(class="item")
      div(class="item-body")
        div(class="name") Quiches of the Week
        div(class="sub-list")
          div Lorraine
          div Spinach/Cheese
          div Chicken/Mushroom
      div(class="price")
        div 12.49
    div(class="item")
      div(class="item-body")
        div(class="name") French Toast
      div(class="price")
        div 11.99
    div(class="item")
      div(class="item-body")
        div(class="name") Egg Benedict
        div(class="sub-list")
          div Original
          div Spinach Mushroom
          div Crab Meat
          div Ham
          div Smoked Salmon
      div(class="price")
        div 12.49