div(id="brunch" style="display: none")
  div(class="menu-header")
    h3(class="title") Brunch
    h6 Serve with choice of home fries
    h6 Baked potatoe and side sald or fruit cup
  div(class="menu-list")
    div(class="item")
      div(class="item-body")
          h4 Brunch Crepe Sweet
      div(class="price")
          h4 9.50
    div(class="item")
      div(class="item-body")
        h4 Brunch Crepe Savory
      div(class="price")
        h4 11.50
    div(class="item")
      div(class="item-body")
        h4 Open Sandwiches
        div(class="sub-list")
          p w/ Avocado/Basil Pesto
          p w/ Roasted Tomatoe/Basil Pesto
          p w/ Banana Walnut/Cream Cheese
          p w/ Seasonal Fruit/Riccota Cheese
      div(class="price")
        h4 12.50
    div(class="item")
      div(class="item-body")
        h4 Monte Cristo w/ Raspberry Comp
      div(class="price")
        h4 14.99
    div(class="item")
      div(class="item-body")
        h4 Quiches of the Week
        div(class="sub-list")
          p Lorraine
          p Spinach/Cheese
          p Chicken/Mushroom
      div(class="price")
        h4 12.49
    div(class="item")
      div(class="item-body")
        h4 French Toast
      div(class="price")
        h4 11.99
    div(class="item")
      div(class="item-body")
        h4 Egg Benedict
        div(class="sub-list")
          p Original
          p Spinach Mushroom
          p Crab Meat
          p Ham
          p Smoked Salmon
      div(class="price")
        h4 12.49