div(id="cold-sandwiches" style="display: none")
  div(class="menu-header")
    h3(class="title") Cold Sandwiches
    div Choose your own bread Hero Add 2.00
  div(class="menu-list")
    div(class="item")
      div(class="item-body")
          div(class="name") BLT on white or wheat bread
      div(class="price")
          div(class="name") 6.50
    div(class="item")
      div(class="item-body")
        div(class="name") BLAT on french or italian bread
        div(class="description") BLT w/ avocado, italian dress
      div(class="price")
        div 7.95
    div(class="item")
      div(class="item-body")
        div(class="name") Turkey Swiss on a roll
        div(class="description") (leaf lettuce, tomato, mayo/horseradish)
      div(class="price")
        div 8.95
    div(class="item")
      div(class="item-body")
        div(class="name") Ham and Cheese on a roll
        div(class="description") (lettuce, mayo, tomato)
      div(class="price")
        div 8.95
    div(class="item")
      div(class="item-body")
        div(class="name") Egg Salad Sandwich on white/wheat
        div(class="description") (mayo, leaf lettuce)
      div(class="price")
        div 8.95
    div(class="item")
      div(class="item-body")
        div(class="name") Tuna Salad Sandwich on white/wheat
        div(class="description") (mayo, leaf lettuce)
      div(class="price")
        div 8.95
    div(class="item")
      div(class="item-body")
        div(class="name") Chicken Salad Sandwich on white/wheat
        div(class="description") (mayo, leaf lettuce)
      div(class="price")
        div 8.95
    div(class="item")
      div(class="item-body")
        div(class="name") Italian Sub Sandwich on hero
        div(class="description") (pepper lettuce, tomatoes, italian dress)
      div(class="price")
        div 8.95
    div(class="item")
      div(class="item-body")
        div(class="name") Club Sandwwch on white/wheat
        div(class="description") (lettuce, tomatoes, bacon, mayo)
      div(class="price")
        div 8.95