div(id="cold-sandwiches" style="display: none")
  div(class="menu-header")
    h3(class="title") Cold Sandwiches
    p Choose your own bread Hero Add 2.00
  div(class="menu-list")
    div(class="item")
      div(class="item-body")
          h4 BLT on white or wheat bread
      div(class="price")
          h4 6.50
    div(class="item")
      div(class="item-body")
        h4 BLAT on french or italian bread
        p BLT w/ avocado, italian dress
      div(class="price")
        h4 7.95
    div(class="item")
      div(class="item-body")
        h4 Turkey Swiss on a roll
        p (leaf lettuce, tomato, mayo/horseradish)
      div(class="price")
        h4 8.95
    div(class="item")
      div(class="item-body")
        h4 Ham and Cheese on a roll
        p (lettuce, mayo, tomato)
      div(class="price")
        h4 8.95
    div(class="item")
      div(class="item-body")
        h4 Egg Salad Sandwich on white/wheat
        p (mayo, leaf lettuce)
      div(class="price")
        h4 8.95
    div(class="item")
      div(class="item-body")
        h4 Tuna Salad Sandwich on white/wheat
        p (mayo, leaf lettuce)
      div(class="price")
        h4 8.95
    div(class="item")
      div(class="item-body")
        h4 Chicken Salad Sandwich on white/wheat
        p (mayo, leaf lettuce)
      div(class="price")
        h4 8.95
    div(class="item")
      div(class="item-body")
        h4 Italian Sub Sandwich on hero
        p (pepper lettuce, tomatoes, italian dress)
      div(class="price")
        h4 8.95
    div(class="item")
      div(class="item-body")
        h4 Club Sandwwch on white/wheat
        p (lettuce, tomatoes, bacon, mayo)
      div(class="price")
        h4 8.95