div(id="crepes" style="display: none")
  div(class="menu-header")
    h3(class="title") Sweet Crepe
  div(class="menu-list")
    div(class="item")
      div(class="item-body")
        div(class="name") Strawberry-Banana
      div(class="price")
        div 6.50
    div(class="item")
      div(class="item-body")
        div(class="name") Banana/Nuttella
      div(class="price")
        div 6.50
    div(class="item")
      div(class="item-body")
        div(class="name") Mango
      div(class="price")
        div 6.50
    div(class="item")
      div(class="item-body")
        div(class="name") Chocolate Nut
      div(class="price")
        div 6.50
  div(class="menu-header")
    h3(class="title") Savory Crepe
  div(class="menu-list")
    div(class="item")
      div(class="item-body")
        div(class="name") Avocado/Shrimp
      div(class="price")
        div 8.50
    div(class="item")
      div(class="item-body")
        div(class="name") Korean BBQ Beef
      div(class="price")
        div 8.50
    div(class="item")
      div(class="item-body")
        div(class="name") Spicy Pork
      div(class="price")
        div 8.50
    div(class="item")
      div(class="item-body")
        div(class="name") Marinated Chicken
      div(class="price")
        div 8.50
    div(class="item")
      div(class="item-body")
        div(class="name") Ham/Cheese/Spinach
      div(class="price")
        div 8.50
    div(class="item")
      div(class="item-body")
        div(class="name") Green Onion Pancake (Pa Jeon)
      div(class="price")
        div 11.95
    div(class="item")
      div(class="item-body")
        div(class="name") Mung Bean Pancake (Bindai-Tteok)
      div(class="price")
        div 11.95