div(id="hot-sandwiches" style="display: none")
  div(class="menu-header")
    h3(class="title") Hot Sandwiches
    p Choose your own bread Hero Add 2.00
  div(class="menu-list")
    div(class="item")
      div(class="item-body")
          h4 Philly Sandwiches on hero
          p (onion, mushroom, cheese)
      div(class="price")
          h4 8.95
    div(class="item")
      div(class="item-body")
        h4 Godfather Sandwich on hero
        p (pepper, marinara sauce, mozzarella cheese)
      div(class="price")
        h4 8.95
    div(class="item")
      div(class="item-body")
        h4 Ruben Sandiwch on rye
        p (sauerkraut, russian dressing)
      div(class="price")
        h4 8.95
    div(class="item")
      div(class="item-body")
        h4 BBQ Chicken Framigiana Sandwich on roll
        p (marinara, mozzarella)
      div(class="price")
        h4 8.95
    