div(id="hot-sandwiches" style="display: none")
  div(class="menu-header")
    h3(class="title") Hot Sandwiches
    div Choose your own bread Hero Add 2.00
  div(class="menu-list")
    div(class="item")
      div(class="item-body")
          div(class="name") Philly Sandwiches on hero
          div(class="description") (onion, mushroom, cheese)
      div(class="price")
          div 8.95
    div(class="item")
      div(class="item-body")
        div(class="name") Godfather Sandwich on hero
        div(class="description") (pepper, marinara sauce, mozzarella cheese)
      div(class="price")
        div 8.95
    div(class="item")
      div(class="item-body")
        div(class="name") Ruben Sandiwch on rye
        div(class="description")  (sauerkraut, russian dressing)
      div(class="price")
        div 8.95
    div(class="item")
      div(class="item-body")
        div(class="name") BBQ Chicken Framigiana Sandwich on roll
        div(class="description") (marinara, mozzarella)
      div(class="price")
        div 8.95
    