div(id="ice-cream" style="display: none")
  div(class="menu-header")
    h3(class="title") Gelato Ice Cream
    h5 (Small 5.00)
    h5 (Large 7.00)
  div(class="menu-list mb-5")
    div(class="container")
      div(class="row")
        div(class="col-md-4 m-auto")
            h4 Strawberry
            h4 Blueberry
            h4 Banana
            h4 Mango
            h4 Coffee
            h4 Peach
        div(class="col-md-4")
            h4 Green Tea
            h4 Raspberry
            h4 Pineapple
            h4 Butter Pecan
            h4 Pistachio
            h4 Vanilla
  div(class="menu-header mt-5")
    h3(class="title") Frozen Yogurt
    h5 (Small 5.00)
    h5 (Large 7.00)
  div(class="menu-list")
    div(class="container")
      div(class="row")
        div(class="col-md-4 m-auto")
            h4 Original
            h4 Blueberry
            h4 Peach
            h4 Mongo
        div(class="col-md-4")
            h4 Raspberry
            h4 Strawberry
            h4 Banana