div(id="ice-cream" style="display: none")
  div(class="menu-header")
    h3(class="title") Gelato Ice Cream
    span(class="mr-4") (Small 5.00)
    span (Large 7.00)
  div(class="menu-list")
    div(class="row")
      div(class="col-md-6 col-6")
        div(class="flavors-list")
          div Strawberry
          div Blueberry
          div Banana
          div Mango
          div Coffee
          div Peach
      div(class="col-md-6 col-6")
        div(class="flavors-list")
          div Green Tea
          div Raspberry
          div Pineapple
          div Butter Pecan
          div Pistachio
          div Vanilla
  div(class="menu-header mt-3")
    h3(class="title") Frozen Yogurt
    span(class="mr-4") (Small 5.00)
    span (Large 7.00)
  div(class="menu-list")
    div(class="row")
      div(class="col-md-6 col-6")
        div(class="flavors-list")
          div Original
          div Blueberry
          div Peach
          div Mongo
      div(class="col-md-6 col-6")
        div(class="flavors-list")
          div Raspberry
          div Strawberry
          div Banana