div(id="peru-chicken" style="display: none")
  div(class="menu-header")
    h3(class="title") Peruvian BBQ Chicken
    div Includes one dressing of your choice
  div(class="menu-list")
    div(class="item")
      div(class="item-body")
          div(class="name") Half Chicken Only
          div(class="description") Combo(+2.00)
      div(class="price")
          div 7.95
    div(class="item")
      div(class="item-body")
        div(class="name") Whole Chicken Only
        div(class="description") Combo(+2.00)
      div(class="price")
        div 7.95
    div(class="item")
      div(class="item-body")
        div(class="name") Rice
      div(class="price")
        div 2.00
    div(class="item")
      div(class="item-body")
        div(class="name") Aji Sauce
      div(class="price")
        div 0.50
    div(class="item")
      div(class="item-body")
        div(class="name") Side Salad
      div(class="price")
        div 2.00
    div(class="item")
      div(class="item-body")
        div(class="name") Dressing
      div(class="price")
        div 0.50
    div(class="item")
      div(class="item-body")
        div(class="name") Chicken Quesadilla
        div(class="description") (Peruvian BBQ Chicken, pepper, lettuce, cheese)
      div(class="price")
        div 7.95
    div(class="item")
      div(class="item-body")
        div(class="name") Chicken Burrito
        div(class="description") (Peruvian BBQ Chicken, pepper, corn lettuce, rice cheese)
      div(class="price")
        div 7.95
      
    