div(id="peru-chicken" style="display: none")
  div(class="menu-header")
    h3(class="title") Peruvian BBQ Chicken
    p Includes one dressing of your choice
  div(class="menu-list")
    div(class="item")
      div(class="item-body")
          h4 Half Chicken Only
          p Combo(+2.00)
      div(class="price")
          h4 7.95
    div(class="item")
      div(class="item-body")
        h4 Whole Chicken Only
        p Combo(+2.00)
      div(class="price")
        h4 7.95
    div(class="item")
      div(class="item-body")
        h4 Rice
      div(class="price")
        h4 2.00
    div(class="item")
      div(class="item-body")
        h4 Aji Sauce
      div(class="price")
        h4 0.50
    div(class="item")
      div(class="item-body")
        h4 Side Salad
      div(class="price")
        h4 2.00
    div(class="item")
      div(class="item-body")
        h4 Dressing
      div(class="price")
        h4 0.50
    div(class="item")
      div(class="item-body")
        h4 Chicken Quesadilla
        p Peruvian BBQ Chicken, pepper, lettuce, cheese
      div(class="price")
        h4 7.95
    div(class="item")
      div(class="item-body")
        h4 Chicken Burrito
        p Peruvian BBQ Chicken, pepper, corn lettuce, rice cheese
      div(class="price")
        h4 7.95
      
    