div(id="salads" style="display: none")
  div(class="menu-header")
    h3(class="title") Salads
    div Includes one dressing of your choice
  div(class="menu-list")
    div(class="item")
      div(class="item-body")
          div(class="name") Caesar Salad
          div(class="description") (romaine, crouton, parmesan)
      div(class="price")
          div 5.95
    div(class="item")
      div(class="item-body")
        div(class="name") Garden Salad
        div(class="description") (Romaine, olive, carrot, cuccumber, mixed pepper, red cabbage & tomato)
      div(class="price")
        div 5.95
    div(class="item")
      div(class="item-body")
        div(class="name") Greek Salad
        div(class="description") (Romaine, olive, cucumber, mixed pepper, red cabbage, tomato & feta)
      div(class="price")
        div 7.50
    div(class="item")
      div(class="item-body")
        div(class="name") Avocado Salad
        div(class="description") (Romaine, red onion, tomatoes, carrot, cucumber, avocado)
      div(class="price")
        div 7.95
    div(class="item")
      div(class="item-body")
        div(class="name") DIY Salad
        div(class="sub-list")
          div Vegetable (+1.00)
          div Meat (+2.00)
          div Cheese (+1.50)
          div Avocado (+2.00)
      div(class="price")
        div 4.50