div(id="smoothies" style="display: none")
  div(class="menu-header")
    h3(class="title") Juice & Smoothie
    div Freshly Squeezed Juice
  div(class="menu-list")
    div(class="three-columns")
      div(class="drink")
        div(class="name")
      div(class="size-price")
        div(class="small") SM (12 OZ)
        div(class="large") LG (16 OZ)
    div(class="three-columns")
      div(class="drink")
        div(class="name") Carrot Juice
        div(class="sub-list")
          div w/ Apple
          div w/ Kale
          div w/ Beets
          div w/ Celery
      div(class="size-price")
        div(class="small") 4.50
        div(class="large") 5.25
    div(class="three-columns mt-2")
      div(class="drink")
        div(class="name") Make Your Own Juice Bar
        div(class="description") Includes 2 any ingredients
        div(class="sub-list")
          div Acai Powder(2.00)
          div Protein Powder(+2.50)
          div Extra ingredient(+0.50)
      div(class="size-price")
        div(class="small") 4.50
        div(class="large") 5.25
  div(class="menu-header mt-3")
    h3(class="title") Ingredients
  div(class="menu-list")
    div(class="ingredients")
      div(class="row text-center")
        div(class="col-md-3 col-3")
          div(class="ingredients-list")
            div Peanut Butter
            div Banana
            div Orange
            div Papaya
            div Blueberry
        div(class="col-md-3 col-3")
          div(class="ingredients-list")
            div Mango
            div Pineapple
            div Strawberry
            div Raspberry
            div Apple
            div Lime
        div(class="col-md-3 col-3")
           div(class="ingredients-list")
            div Beets
            div Carrot
            div Ginger
            div Celery
            div Kale
            div Cucumber
        div(class="col-md-3 col-3")
          div(class="ingredients-list")
            div Spinach
            div Whole Milk
            div Cocunet Milk
            div Almond Milk
            div Yogurt

      