div(id="smoothies" style="display: none")
  div(class="menu-header")
    h3(class="title") Juice & Smoothie
    p Freshly Squeezed Juice
  div(class="menu-list")
    div(class="three-columns")
      div(class="drink-type")
      div(class="size-price")
        div(class="small")
          h5 SM (12 OZ)
        div(class="large")
          h5 LG (16 OZ)
    div(class="three-columns")
      div(class="drink-type")
        h4 Carrot Juice
        div(class="sub-list")
          p w/ Apple
          p w/ Kale
          p w/ Beets
          p w/ Celery
      div(class="size-price")
        div(class="small")
          h4 4.50
        div(class="large")
          h4 5.25
    div(class="three-columns")
      div(class="drink-type")
        h4 Make Your Own Juice Bar
        p Includes 2 any ingredients
        div(class="sub-list")
          p Acai Powder(2.00)
          p Protein Powder(+2.50)
          p Extra ingredient(+0.50)
      div(class="size-price")
        div(class="small")
          h4 4.50
        div(class="large")
          h4 5.25
  div(class="menu-header my-3")
    h3(class="title") Ingredients
  div(class="menu-list")
    div(class="container")
      div(class="row")
        div(class="col-md-2 mx-auto")
          h5 Peanut Butter
          h5 Banana
          h5 Orange
          h5 Papaya
          h5 Blueberry
        div(class="col-md-2")
          h5 Mango
          h5 Pineapple
          h5 Strawberry
          h5 Raspberry
          h5 Apple
        div(class="col-md-2")
          h5 Kale
          h5 Cucumber
          h5 Spinach
          h5 Lime
        div(class="col-md-2")
          h5 Beets
          h5 Carrot
          h5 Ginger
          h5 Celery
        div(class="col-md-2")
          h5 Whole Milk
          h5 Cocunet Milk
          h5 Almond Milk
          h5 Yogurt

      