
html, body {
  padding: 0;
  margin: 0;
  font-size: 100%;
}

// ======== top header ======= //

.header {
  position: relative;
  height: 100vh;
  min-height: 100vh;
  background: gray;
  overflow: hidden;

  .bg-img {
    background-image: url("https://d2tmw454eqao4e.cloudfront.net/wood.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  }

  .container-fluid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0 !important;

    .logo-font {
      width: 37rem;
      margin-bottom: 1rem;
    }

    .logo-bottom {
      width: 37rem;
      margin: auto;
      display: flex;

      .business-time {
        text-align: left;
        color: white;
        font-size: 1rem;
        width: 50%;

        .title {
          font-size: 2rem;
          font-family: "Noto Serif", serif;
        }

        .table {
          color: white;

          tr {

            th,
            td {
              font-family: 'Montserrat', sans-serif;
              padding: 0 !important;
              margin: 0 !important;
            }
          }
        }
      }

      .call-info {
        font-size: 1.2rem;
        width: 50%;
        padding-top: 0.6em;
        text-align: right;
        color: white;
        font-family: "Noto Serif", sans-serif;

        .info {
          margin-bottom: -0.5em;
        }

        .btn {
          font-family: 'Montserrat', sans-serif;
          font-size: 1.2rem;
          margin-top: 1em;
          width: 8.7em;
          border-radius: 0;
          border: none;
          box-shadow: none;
        }
      }
    }
  }
}

// ======== 2nd bottom div ======= //

.bg-2 {
  position: relative;
  padding: 1rem;
  height: auto;
  min-height: 100vh;
  
  .gallery {

    .photo-box {
      height: 210px;
      margin-bottom: 1rem;

      .photo-box-img {
        border-radius: 5px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 100%;
        
        &:hover {
          opacity: 0.7;
          cursor: pointer;
        }
      }
    }
  }
}

// ======== 2nd bottom div ======= //

.bg-1 {
  position: relative;
  height: auto;
  min-height: 100vh;

  .main-menu {
    padding: 0;
    margin: 0;
    display: flex;

    .side-left-bar {
      font-family: "Noto Serif", sans-serif;
      width: 25%;

      .menu-category {
        list-style: none;
        position: relative;
        top: 100px;

        .list {
          font-size: 1.3rem;
          margin-bottom: 0.5em;

          &:hover {
            cursor: pointer;
            color: rgb(43, 109, 184);
          }
        }
      }
    }

    .side-right-bar {
      width: 25%;
      font-size: 1rem;

      .right-bar {
        position: relative;
        top: 100px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .contact {
          .btn {
            border-radius: 0 !important;
            box-shadow: none;
            border: none;
          }
        }

        .info {
          display: flex;
          width: 65%;
          align-content: center;
          margin-bottom: 1rem;
          
          .fa-directions {
            margin-top: 30px;
          }
        }
      }
    }

    .menu-content {
      width: 50%;
      color: rgb(68, 68, 68);
      
      .heading {
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        border-bottom: 2px solid rgb(68, 68, 68);
      }

      .menu-header {
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 1rem;
      }

      .menu-list {
        font-family: "Noto Serif", sans-serif;

        .flavors-list {
          text-align: center;
          font-size: 1.1rem;
          font-weight: bold;
        }

        .item {
          display: flex;
          justify-content: center;
          margin-bottom: 0.5rem;

          .item-body {
            width: 72%;

            .name {
              font-size: 1.1rem;
              font-weight: bold;
            }

            .sub-list {
              padding-left: 1rem;
            }
          }

          .price {
            width: 20%;
            text-align: right;
            font-size: 1.1rem;
            font-weight: bold;
          }
        }

        .ingredients {
          font-weight: bold;
        }

        .three-columns {
          display: flex;
          justify-content: center;

          .drink {
            width: 50%;
            
            .name {
              font-size: 1.1rem;
              font-weight: bold;
            }

            .sub-list {
              padding-left: 1rem;
            }
          }

          .size-price {
            display: flex;
            width: 40%;

            .small {
              text-align: right;
              width: 50%;
              font-size: 1.1rem;
              font-weight: bold;
            }

            .large {
              text-align: right;
              width: 50%;
              font-size: 1.1rem;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}

.lightbox {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.6);
  
  .inner-lightbox {
    width: 100%;
    height: 100%;
    overflow: hidden;
    // background-color: black;
    
    .img-placeholder {
      position: relative;
      height: 100%;
      
      img {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
      }

      .lightbox-close {
        position: absolute;
        border-radius: 5px;
        right: 0;
        color: white;
        line-height: 1.1em;
        background-color: rgb(0, 0, 0);
        display: inline-block;
        padding: 0.3em;
        
        &:hover {
          cursor: pointer;
          color: gray;
        }

        .close-text {
          font-family: 'Montserrat', sans-serif;
          font-size: 1.2rem;
          margin-right: 0.5em;
          font-weight: bold;
        }
      }
    }
  }
}

.form-wrapper {
  position: relative;
  height: 100vh;
  min-height: 100vh;
  // background-color: gray;
  background-image: url("https://d2tmw454eqao4e.cloudfront.net/wood.jpeg");

  .form-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // background-color: rgba(0, 0, 0, 0.6);
    padding: 1rem;
    width: 35%;
    
    .logo-placeholder {
      margin: auto;
      width: 60%;

      img {
        width: 100%;
      }
    }

    form {
      color: white;
      font-family: 'Montserrat', sans-serif;

      input, textarea {
        border-radius: 0;
        border: none;
        box-shadow: none;
      }

      label {
        font-size: 0.8rem;
      }

      .btn {
        width: 100%;
        border-radius: 0;
      }

    }
  }

}
