html, body {
  padding: 0;
  margin: 0;
  font-size: 100%;
}

.header {
  position: relative;
  height: 100vh;
  min-height: 100vh;
  background: gray;
  overflow: hidden;
}

.header .bg-img {
  background-image: url("https://d2tmw454eqao4e.cloudfront.net/wood.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.header .container-fluid {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  padding: 0 !important;
}

.header .container-fluid .logo-font {
  width: 37rem;
  margin-bottom: 1rem;
}

.header .container-fluid .logo-bottom {
  width: 37rem;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .container-fluid .logo-bottom .business-time {
  text-align: left;
  color: white;
  font-size: 1rem;
  width: 50%;
}

.header .container-fluid .logo-bottom .business-time .title {
  font-size: 2rem;
  font-family: "Noto Serif", serif;
}

.header .container-fluid .logo-bottom .business-time .table {
  color: white;
}

.header .container-fluid .logo-bottom .business-time .table tr th,
.header .container-fluid .logo-bottom .business-time .table tr td {
  font-family: 'Montserrat', sans-serif;
  padding: 0 !important;
  margin: 0 !important;
}

.header .container-fluid .logo-bottom .call-info {
  font-size: 1.2rem;
  width: 50%;
  padding-top: 0.6em;
  text-align: right;
  color: white;
  font-family: "Noto Serif", sans-serif;
}

.header .container-fluid .logo-bottom .call-info .info {
  margin-bottom: -0.5em;
}

.header .container-fluid .logo-bottom .call-info .btn {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  margin-top: 1em;
  margin-bottom: 0.7em;
  width: 8.7em;
  border-radius: 0;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.bg-2 {
  position: relative;
  padding: 1rem;
}

.bg-2 .gallery .photo-box {
  height: 210px;
  margin-bottom: 1rem;
}

.bg-2 .gallery .photo-box .photo-box-img {
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}

.bg-2 .gallery .photo-box .photo-box-img:hover {
  opacity: 0.7;
  cursor: pointer;
}

.bg-1 {
  position: relative;
}

.bg-1 .main-menu .heading {
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.bg-1 .main-menu .side-left-bar {
  position: relative;
  font-family: "Noto Serif", sans-serif;
}

.bg-1 .main-menu .side-left-bar .menu-category {
  list-style: none;
  padding-left: 0;
}

.bg-1 .main-menu .side-left-bar .menu-category .list {
  font-size: 1.3rem;
  margin-bottom: 0.4em;
}

.bg-1 .main-menu .side-left-bar .menu-category .list:hover {
  cursor: pointer;
  color: #2b6db8;
}

.bg-1 .main-menu .side-right-bar {
  position: relative;
  font-size: 1rem;
}

.bg-1 .main-menu .side-right-bar .right-bar {
  position: absolute;
  right: 15px;
}

.bg-1 .main-menu .side-right-bar .right-bar .address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bg-1 .main-menu .side-right-bar .right-bar .info {
  margin-bottom: 0.8rem;
}

.bg-1 .main-menu .side-right-bar .right-bar .info .btn {
  border-radius: 0 !important;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

.bg-1 .main-menu .menu-content {
  position: relative;
  color: #444444;
  border-top: 1px solid black;
}

.bg-1 .main-menu .menu-content .menu-header {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 1rem;
}

.bg-1 .main-menu .menu-content .menu-list {
  font-family: "Noto Serif", sans-serif;
}

.bg-1 .main-menu .menu-content .menu-list .flavors-list {
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
}

.bg-1 .main-menu .menu-content .menu-list .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0.5rem;
}

.bg-1 .main-menu .menu-content .menu-list .item .item-body {
  width: 72%;
}

.bg-1 .main-menu .menu-content .menu-list .item .item-body .name {
  font-size: 1.1rem;
  font-weight: bold;
}

.bg-1 .main-menu .menu-content .menu-list .item .item-body .sub-list {
  padding-left: 1rem;
}

.bg-1 .main-menu .menu-content .menu-list .item .price {
  width: 20%;
  text-align: right;
  font-size: 1.1rem;
  font-weight: bold;
}

.bg-1 .main-menu .menu-content .menu-list .ingredients {
  font-weight: bold;
}

.bg-1 .main-menu .menu-content .menu-list .three-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bg-1 .main-menu .menu-content .menu-list .three-columns .drink {
  width: 50%;
}

.bg-1 .main-menu .menu-content .menu-list .three-columns .drink .name {
  font-size: 1.1rem;
  font-weight: bold;
}

.bg-1 .main-menu .menu-content .menu-list .three-columns .drink .sub-list {
  padding-left: 1rem;
}

.bg-1 .main-menu .menu-content .menu-list .three-columns .size-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
}

.bg-1 .main-menu .menu-content .menu-list .three-columns .size-price .small {
  text-align: right;
  width: 50%;
  font-size: 1.1rem;
  font-weight: bold;
}

.bg-1 .main-menu .menu-content .menu-list .three-columns .size-price .large {
  text-align: right;
  width: 50%;
  font-size: 1.1rem;
  font-weight: bold;
}

.lightbox {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.6);
}

.lightbox .inner-lightbox {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.lightbox .inner-lightbox .img-placeholder {
  position: relative;
  height: 100%;
}

.lightbox .inner-lightbox .img-placeholder img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.lightbox .inner-lightbox .img-placeholder .lightbox-close {
  position: absolute;
  border-radius: 5px;
  right: 0;
  color: white;
  line-height: 1.1em;
  background-color: black;
  display: inline-block;
  padding: 0.3em;
  z-index: 1;
}

.lightbox .inner-lightbox .img-placeholder .lightbox-close:hover {
  cursor: pointer;
  color: gray;
}

.lightbox .inner-lightbox .img-placeholder .lightbox-close .close-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  margin-right: 0.5em;
  font-weight: bold;
}

.form-wrapper {
  position: relative;
  height: 100vh;
  min-height: 100vh;
  background-image: url("https://d2tmw454eqao4e.cloudfront.net/wood.jpeg");
}

.form-wrapper .form-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 1rem;
  width: 35%;
}

.form-wrapper .form-modal .logo-placeholder {
  margin: auto;
  width: 60%;
}

.form-wrapper .form-modal .logo-placeholder img {
  width: 100%;
}

.form-wrapper .form-modal form {
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.form-wrapper .form-modal form input, .form-wrapper .form-modal form textarea {
  border-radius: 0;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-wrapper .form-modal form label {
  font-size: 0.8rem;
}

.form-wrapper .form-modal form .btn {
  width: 100%;
  border-radius: 0;
}

footer {
  margin-top: 3rem;
  color: #5c5c5c;
}

@media (min-width: 320px) and (max-width: 767px) {
  :root {
    font-size: 80%;
  }
  .header .container-fluid .logo-font {
    width: 25rem;
  }
  .header .container-fluid .logo-bottom {
    width: 25rem;
  }
  .header .container-fluid .logo-bottom .business-time {
    font-size: 0.9rem;
  }
  .header .container-fluid .logo-bottom .business-time .title {
    font-size: 1.5rem;
  }
  .header .container-fluid .logo-bottom .call-info {
    font-size: 1rem;
  }
  .header .container-fluid .logo-bottom .call-info .btn {
    font-size: 1rem;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
  }
  .bg-1 {
    position: relative;
  }
  .bg-1 .main-menu .side-left-bar {
    text-align: center;
  }
  .bg-1 .main-menu .side-right-bar {
    margin-top: 2rem;
    text-align: center;
  }
  .bg-1 .main-menu .side-right-bar .right-bar {
    position: static;
  }
  .bg-1 .main-menu .side-right-bar .right-bar .address {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .bg-1 .main-menu .menu-content {
    padding-top: 1rem;
  }
}
/*# sourceMappingURL=styles.css.map */