
html, body {
  padding: 0;
  margin: 0;
  font-size: 100%;
}

// ======== top header ======= //

.header {
  position: relative;
  height: 100vh;
  min-height: 100vh;
  background: gray;
  overflow: hidden;
  .bg-img {
    background-image: url("https://d2tmw454eqao4e.cloudfront.net/wood.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  }
  .container-fluid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0 !important;
    .logo-font {
      width: 37rem;
      margin-bottom: 1rem;
    }
    .logo-bottom {
      width: 37rem;
      margin: auto;
      display: flex;
      .business-time {
        text-align: left;
        color: white;
        font-size: 1rem;
        width: 50%;
        .title {
          font-size: 2rem;
          font-family: "Noto Serif", serif;
        }
        .table {
          color: white;
          tr{
            th, td {
              font-family: 'Montserrat', sans-serif;
              padding: 0 !important;
              margin: 0 !important;
            }
          }
        }
      }
      .call-info {
        font-size: 1.2rem;
        width: 50%;
        padding-top: 0.6em;
        text-align: right;
        color: white;
        font-family: "Noto Serif", sans-serif;
        .info {
          margin-bottom: -0.5em;
        }
        .btn {
          font-family: 'Montserrat', sans-serif;
          font-size: 1.2rem;
          margin-top: 1em;
          width: 8.7em;
          border-radius: 0;
          border: none;
          box-shadow: none;
        }
      }
    }
  }
}

// ======== bottom div ======= //

.bg-1 {
  height: auto;
  min-height: 100vh;
  hr {
    border-width: 3px;
    border-color: rgb(68, 68, 68);
    width: 50%;
  }
  .heading {
    color: rgb(68, 68, 68);
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
  }
  .main-menu {
    padding: 0;
    margin: 0;
    display: flex;

    .side-right-bar {
      font-family: "Noto Serif", sans-serif;
      width: 25%;
      // background-color: rgba(255, 192, 203, 0.904);
      .menu-category {
        list-style: none;
        .list {
          font-size: 1.3rem;
          margin-bottom: 0.5em;
          &:hover {
            cursor: pointer;
            color: rgb(43, 109, 184);
          }
        }
      }
    }

    .side-left-bar {
      width: 25%;
      // text-align: right;
      // background: rgba(0, 128, 0, 0.65);
      .direction {
        text-align: center;
        .btn {
          font-family: 'Montserrat', sans-serif;
          border-radius: 0;
          box-shadow: none;
          &:active {
            box-shadow: none !important;
          }
        }
      }
    }

    .menu-content {
      // background-color: gray;
      width: 50%;
      .menu-header {
        text-align: center;
        font-family: 'Montserrat', sans-serif;
      }
      .menu-list {
        font-family: "Noto Serif", sans-serif;
        .item {
          display: flex;
          justify-content: center;
          .item-body {
            width: 72%;
            .sub-list {
              padding-left: 1rem;
              p:not(:last-child) {
                margin-bottom: -0.2rem;
              }
            }
          }
          .price {
            width: 20%;
            text-align: right;
          }
        }
        .three-columns {
          display: flex;
          justify-content: center;
          .drink-type {
            width: 50%;
            .sub-list {
              padding-left: 1rem;
              p:not(:last-child) {
                margin-bottom: -0.2rem;
              }
            }
          }
          .size-price {
            display: flex;
            width: 40%;
            .small {
              text-align: right;
              width: 50%;
            }
            .large {
              text-align: right;
              width: 50%;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  :root {
    font-size: 80%;
  }
}

