html, body {
  padding: 0;
  margin: 0;
  font-size: 100%;
}

.header {
  position: relative;
  height: 100vh;
  min-height: 100vh;
  background: gray;
  overflow: hidden;
}

.header .bg-img {
  background-image: url("https://d2tmw454eqao4e.cloudfront.net/wood.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.header .container-fluid {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  padding: 0 !important;
}

.header .container-fluid .logo-font {
  width: 37rem;
  margin-bottom: 1rem;
}

.header .container-fluid .logo-bottom {
  width: 37rem;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .container-fluid .logo-bottom .business-time {
  text-align: left;
  color: white;
  font-size: 1rem;
  width: 50%;
}

.header .container-fluid .logo-bottom .business-time .title {
  font-size: 2rem;
  font-family: "Noto Serif", serif;
}

.header .container-fluid .logo-bottom .business-time .table {
  color: white;
}

.header .container-fluid .logo-bottom .business-time .table tr th,
.header .container-fluid .logo-bottom .business-time .table tr td {
  font-family: 'Montserrat', sans-serif;
  padding: 0 !important;
  margin: 0 !important;
}

.header .container-fluid .logo-bottom .call-info {
  font-size: 1.2rem;
  width: 50%;
  padding-top: 0.6em;
  text-align: right;
  color: white;
  font-family: "Noto Serif", sans-serif;
}

.header .container-fluid .logo-bottom .call-info .info {
  margin-bottom: -0.5em;
}

.header .container-fluid .logo-bottom .call-info .btn {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  margin-top: 1em;
  width: 8.7em;
  border-radius: 0;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.bg-1 {
  height: auto;
  min-height: 100vh;
}

.bg-1 .main-menu {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bg-1 .main-menu .side-left-bar {
  font-family: "Noto Serif", sans-serif;
  width: 25%;
}

.bg-1 .main-menu .side-left-bar .menu-category {
  list-style: none;
  position: relative;
  top: 100px;
}

.bg-1 .main-menu .side-left-bar .menu-category .list {
  font-size: 1.3rem;
  margin-bottom: 0.5em;
}

.bg-1 .main-menu .side-left-bar .menu-category .list:hover {
  cursor: pointer;
  color: #2b6db8;
}

.bg-1 .main-menu .side-right-bar {
  width: 25%;
  font-size: 1rem;
}

.bg-1 .main-menu .side-right-bar .right-bar {
  position: relative;
  top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.bg-1 .main-menu .side-right-bar .right-bar .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 65%;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-bottom: 1rem;
}

.bg-1 .main-menu .side-right-bar .right-bar .info .fa-directions {
  margin-top: 30px;
}

.bg-1 .main-menu .menu-content {
  width: 50%;
  color: #444444;
}

.bg-1 .main-menu .menu-content .heading {
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  border-bottom: 2px solid #444444;
}

.bg-1 .main-menu .menu-content .menu-header {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 1rem;
}

.bg-1 .main-menu .menu-content .menu-list {
  font-family: "Noto Serif", sans-serif;
}

.bg-1 .main-menu .menu-content .menu-list .flavors-list {
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
}

.bg-1 .main-menu .menu-content .menu-list .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0.5rem;
}

.bg-1 .main-menu .menu-content .menu-list .item .item-body {
  width: 72%;
}

.bg-1 .main-menu .menu-content .menu-list .item .item-body .name {
  font-size: 1.1rem;
  font-weight: bold;
}

.bg-1 .main-menu .menu-content .menu-list .item .item-body .sub-list {
  padding-left: 1rem;
}

.bg-1 .main-menu .menu-content .menu-list .item .price {
  width: 20%;
  text-align: right;
  font-size: 1.1rem;
  font-weight: bold;
}

.bg-1 .main-menu .menu-content .menu-list .ingredients {
  font-weight: bold;
}

.bg-1 .main-menu .menu-content .menu-list .three-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bg-1 .main-menu .menu-content .menu-list .three-columns .drink {
  width: 50%;
}

.bg-1 .main-menu .menu-content .menu-list .three-columns .drink .name {
  font-size: 1.1rem;
  font-weight: bold;
}

.bg-1 .main-menu .menu-content .menu-list .three-columns .drink .sub-list {
  padding-left: 1rem;
}

.bg-1 .main-menu .menu-content .menu-list .three-columns .size-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
}

.bg-1 .main-menu .menu-content .menu-list .three-columns .size-price .small {
  text-align: right;
  width: 50%;
  font-size: 1.1rem;
  font-weight: bold;
}

.bg-1 .main-menu .menu-content .menu-list .three-columns .size-price .large {
  text-align: right;
  width: 50%;
  font-size: 1.1rem;
  font-weight: bold;
}

.bg-2 {
  padding: 1rem;
  height: auto;
  min-height: 100vh;
}

.bg-2 .gallery .photo-box {
  height: 220px;
  margin-bottom: 1rem;
}

.bg-2 .gallery .photo-box .photo-box-img {
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}
/*# sourceMappingURL=styles.css.map */