html, body {
  padding: 0;
  margin: 0;
  font-size: 100%;
}

.header {
  position: relative;
  height: 100vh;
  min-height: 100vh;
  background: gray;
  overflow: hidden;
}

.header .bg-img {
  background-image: url("https://d2tmw454eqao4e.cloudfront.net/wood.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.header .container-fluid {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  padding: 0 !important;
}

.header .container-fluid .logo-font {
  width: 37rem;
  margin-bottom: 1rem;
}

.header .container-fluid .logo-bottom {
  width: 37rem;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .container-fluid .logo-bottom .business-time {
  text-align: left;
  color: white;
  font-size: 1rem;
  width: 50%;
}

.header .container-fluid .logo-bottom .business-time .title {
  font-size: 2rem;
  font-family: "Noto Serif", serif;
}

.header .container-fluid .logo-bottom .business-time .table {
  color: white;
}

.header .container-fluid .logo-bottom .business-time .table tr th, .header .container-fluid .logo-bottom .business-time .table tr td {
  font-family: 'Montserrat', sans-serif;
  padding: 0 !important;
  margin: 0 !important;
}

.header .container-fluid .logo-bottom .call-info {
  font-size: 1.2rem;
  width: 50%;
  padding-top: 0.6em;
  text-align: right;
  color: white;
  font-family: "Noto Serif", sans-serif;
}

.header .container-fluid .logo-bottom .call-info .info {
  margin-bottom: -0.5em;
}

.header .container-fluid .logo-bottom .call-info .btn {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  margin-top: 1em;
  width: 8.7em;
  border-radius: 0;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.bg-1 {
  height: auto;
  min-height: 100vh;
}

.bg-1 hr {
  border-width: 3px;
  border-color: #444444;
  width: 50%;
}

.bg-1 .heading {
  color: #444444;
  font-weight: bold;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.bg-1 .main-menu {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bg-1 .main-menu .side-bar {
  font-family: "Noto Serif", sans-serif;
  width: 23%;
}

.bg-1 .main-menu .side-bar .menu-category {
  list-style: none;
}

.bg-1 .main-menu .side-bar .menu-category .list {
  font-size: 1.3rem;
  margin-bottom: 0.5em;
}

.bg-1 .main-menu .side-bar .menu-category .list:hover {
  cursor: pointer;
  color: #2b6db8;
}

.bg-1 .main-menu .menu-content {
  width: 55%;
}

.bg-1 .main-menu .menu-content .menu-header {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.bg-1 .main-menu .menu-content .menu-list {
  font-family: "Noto Serif", sans-serif;
}

.bg-1 .main-menu .menu-content .menu-list .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bg-1 .main-menu .menu-content .menu-list .item .item-body {
  width: 72%;
}

.bg-1 .main-menu .menu-content .menu-list .item .item-body .sub-list {
  padding-left: 1rem;
}

.bg-1 .main-menu .menu-content .menu-list .item .item-body .sub-list p:not(:last-child) {
  margin-bottom: -0.2rem;
}

.bg-1 .main-menu .menu-content .menu-list .item .price {
  width: 20%;
  text-align: right;
}

@media (min-width: 320px) and (max-width: 767px) {
  :root {
    font-size: 80%;
  }
}
/*# sourceMappingURL=styles.css.map */